/*
*   
*/

.centerForm {
    border-radius: 25px;
    border: 2px solid #050A0F;
    padding: 50px; 
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -200px;
    top: 30%;
    left: 50%;
    text-align: center;
}

.newReferenceForm {
    border-radius: 25px;
    border: 2px solid #050A0F;
    padding: 50px; 
    position: absolute;
    width: 500px;
    margin: -100px 0 0 -250px;
    top: 30%;
    left: 50%;
}

.newReferenceForm h1{
    text-align: center;
}

.inputFullWidth {
    float:right;
    width:100%;
    margin:10px;
}

.right{
    float:right;
    padding-right: 20px;
}

#header a{
    color:white;
    text-decoration: none;
}

#header {
    padding-left: 20px;
    background-color:#050A0F;
    color: white;
    height:25px;
    font-size: 20px;
    border-bottom:2px;
    padding: 5px;
}

.errors{
    color: red; 
}

.checkboxlabel {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.checkboxinput {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

input, textarea { 
    padding: 9px; 
    border: solid 1px black; 
    font: normal 13px/100% Verdana, sans-serif; 
    width: 200px; 
    } 
    
.submit { 
    width: auto;
    min-width: 80px;
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF;
    }
    
    .submitButton{
        text-align: center;
    }