/*
*   This css file includes stylings for all the pages in this project!
*/

/*
    This css centers an element in the middle of the page and gives it a 
    border. It also aligns the text inside to be center justidied.
*/
.centerForm {
    border-radius: 25px;
    border: 2px solid #050A0F;
    padding: 50px; 
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -200px;
    top: 30%;
    left: 50%;
    text-align: center;
    margin-bottom: 40px;
}

/*
    This does the same as the previous css, but it also sets the width of the
    element to be 500px. 
*/
.newReferenceForm {
    border-radius: 25px;
    border: 2px solid #050A0F;
    padding: 50px; 
    position: absolute;
    width: 500px;
    margin: -100px 0 0 -250px;
    top: 30%;
    left: 50%;
    margin-bottom: 50px;
}

/*
    Aligns the heading in newReferenceForm to center
*/
.newReferenceForm h1{
    text-align: center;
}

/*
    Floats an element to th right and gives it some padding. This is for elements
    in the heading, so they are within the ehader
*/
.right{
    float:right;
    padding-right: 20px;
}
.left{
    float:left;
    padding-left:20px;
}
/*
    Sets the links in the header to white so it is readable
*/
#header a{
    color:white;
    text-decoration: none;
}

/*
    CSS for the header of the site. Sets text to white and background to dark blue
    colour
*/
#header {
    padding-left: 20px;
    background-color:#050A0F;
    color: white;
    height:25px;
    font-size: 20px;
    border-bottom:2px;
    padding: 5px;
}

/*
    CSS to make errors appear in red letters
*/
.errors{
    color: red; 
}

/*
    sets the display to block for checkboxes
*/
.checkboxlabel {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
/*
    CSS for the input beside the check boxes
*/
.checkboxinput {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

/*
    CSS for the input text areas. Sets the padding to 9 so writing more clearly inside the
    box elements. The border is given a solid black so its more clear and the textareas
    are prevented from resizing horizontally to prevent expanding byond the form bounds.
*/

input { 
    padding: 9px; 
    border: solid 1px black; 
    width: 100%;
    }
textarea{
    padding: 9px;
    border: solid 1px black;
    resize: vertical;
}
.inputError{
    border: solid 1px red;
}


/*
    Sets the widthe to full length and floats to the right. This is for input boxes
*/
.inputFullWidth {
    width:100%;
    margin:10px;
}


/*
    This rule is to make an exception for the publish year
    input box on the newEntry form, which is inline
*/
.publishYear{
    width:250px;
}
.publishYearError{
    width:250px;
    border: solid 1px red;
}
    
/*
    CSS styling for the submit button
*/
.submit { 
    width: auto;
    min-width: 80px;
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF;
    margin-left: 20px;
    }
    
    .submit:hover{
        background-color: #4E5F7A;
    }
    
    .submit:disabled{
        background-color: #9E9E9F;
    }
    
/*
    CSS used on newEntry page to center the submit button. As the text alignment
    for that page is not centered.
*/
    .submitButton{
        text-align: center;
    }

    /*
        This sets the sidebar to be to the left always
    */
#sidebar {
    border-right: 1px solid lightgrey; 
    margin-left: 10px;
    width: 300px;
    background-color:#D3D3D3;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 10px;
    padding:10px;
    overflow-y: scroll;
    overflow-x: hidden;
}



#dropdownCenter{
    vertical-align: middle;
    margin: 20px;
    background-color: blue;
}

.checkBoxInline{
    display:block;
}

.tableHeader{
    background-color:#D3D3D3;
}

tr{
    border: 3px solid black;
    padding: 5px;
}

td a {
    color:black;
    text-decoration: none;
    height:100%;
    width:100%;
    display:block;
}

tr.hover:hover {
    background-color: #617798;
}


#mainContent{
    margin-left: 340px;
    margin-top: 30px;
    height: 100%;
    height: auto;
}

#mainContent table{
    width: 100%;
}

th[data-sort]{
      cursor:pointer;
    }
    
    .selectSharedUser{
        width:250px;
    }
    
    select{
        border: 1px solid black;
    }